
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
    

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <form action="/info">
              <button class="button is-primary is-rounded  my-custom-button" type="submit">about me!</button>
            </form>
            <form action="/">
                <button class="button is-primary is-rounded  my-custom-button" type="submit">home!</button>
              </form>
            <form action="/pcs">
                <button class="button is-primary is-rounded  my-custom-button" type="submit">pcs!</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </nav>