<!DOCTYPE html>
<html lang="en">
<%- include('partials/nav') -%>
<style> 
html {
    background-color: cornflowerblue;
}
body {
  font-family: Arial;
  margin: 0;
}

 .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  .pcs {
    padding: 60px;
    text-align: center;
    background: black;
    color: aqua;
    font-size: 30px;
  }
  .all-pcs {
    padding: 60px;
    text-align: center;
    background: white;
    color: grey;
    font-size: 30px;
  }

</style>
 <body>
  <div class="header">
        <h1>List Of Current PCS</h1>
    </div>

    <div class="pcs">
        <p>
            latest:

            NEW 1250$ GAMING PC
            specs:
            CPU:
                Ryzen 5 2600 |
            GPU:
                Radeon RX 580 |
            RAM:
                16gb of 3600 speed GSkill Ripjaws |
            HDD:
                2tb of 7200RPM speed |
            
        </p>
    </div>

    <div class="all-pcs">
        <p>
            all current pcs:

            NEW 1250$ GAMING PC:
            specs:
            CPU:
                Ryzen 5 2600 |
            GPU:
                Radeon RX 580 |
            RAM:
                16gb of 3600 speed GSkill Ripjaws |
            HDD:
                2tb of 7200RPM speed 
            
        </p>
    </div>

<%- include('partials/header') -%>
<%- include('partials/footer') -%>

</body>
</html>
